{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 7,
  },
  "rules": {
    "camelcase": "off",
    "comma-dangle": ["error", "always-multiline"],
    "consistent-return": "off",
    "global-require": "off",
    "no-console": "off",
    "padded-blocks": "off",
    "semi": ["error", "never"],
  },
}
